mixin lace-dresses-article
  h2.articles__title-one Кружевные платья: классика в тысяче воплощений
  artcile.articles__text
    section
      p Белое платье из ажурной ткани с объемной юбкой в пол — один из классических вариантов свадебного наряда. Оно рисует романтичный, женственный и утонченный портрет; вносит частицу волшебства: это настоящее «одеяние принцессы» из любимой сказки. И такая ассоциация не случайна, ведь именно так часто наряжались на брачных церемониях особы королевской крови. А сегодня именно такие пышные и эффектные туалеты выбирают звезды
      p Современные кутюрье нередко отходят от канонов и создают свадебные ансамбли с современным силуэтом. Ежегодно на подиумах Милана и на фото со «звездных» бракосочетаний можно увидеть именно такие наряды. Но и в этом сочетании кружево выглядит утонченно.
    section
      h3 Шесть веков на пьедестале
      p В Европе декоративное плетение из нитей известно с XVI в., его центрами были Фландрия и Италия. Это был изысканный декор, трудоемкий в изготовлении, и купить его могли только богатые люди. Узорными нитями украшают парадные туалеты по случаю дворцовых и личных праздников, включая женитьбу.
      p Так, Мария Стюарт, королева Шотландии, надела на свадьбу кружевное одеяние белоснежного цвета. В нем ее запечатлел придворный художник на одном из самых известных портретов. Несмотря на то, что англичане в итоге обезглавили свою королеву, ее роскошный гардероб вдохновил многих последовательниц.
      p В Россию кружевоплетение пришло чуть позже, но за пару десятилетий стало популярным народным промыслом. Многие дворяне из столиц и провинции держали в усадьбах мастериц, которые плели для них на заказ; друге предпочитали брать модную тесьму на ярмарке или у галантерейщика. Постепенно это искусство ушло в народ, так что и на свадебной церемонии в сельской церкви можно было увидеть «молодуху» в сарафане с плетеной отделкой.
      p С XVIII в. белое кружево становится традиционным для свадьбы, от Лондона до Москвы. А в XX-XXI в. приходит время для переосмысления традиции: модельеры создавали мини-версии «костюма невесты», экспериментировали с силуэтом, цветом и фактурами. Сегодня в каждом салоне можно купить платья десятков разных моделей. Но воздушные узоры по-прежнему любимы многими брендами и тысячами юных леди всему миру.
    section
      h3 Чувственное, невинное, роскошное
      p Несмотря на то, что кружевное полотно было в моде еще в XVI в., они по-прежнему не теряют свою актуальность в гардеробе невесты. Вы найдете их и в бутиках Москвы, и на подиумах Милана. И дизайнеры подвенечных платьев не забывают использовать их в своих шедеврах.
    section
      p Обычно этот декор украшает лиф или корсаж. Это самая заметная, акцентированная часть, и поэтому здесь обычно богатая отделка. В эпоху, когда кружевниц заменили машины, можно купить материал тысячи видов, различной плотности и с разнообразным рисунком. Полотно лифа могут дополнительно расшить стразами, жемчугом и бисером.
      p Кружевные рукава — еще одна популярная деталь свадебного ансамбля. Такой фасон предпочитают невесты, которые хотят создать нежный, не вызывающий образ: ткань целомудренно скрывает плечи.
      p Так же часто отделывают юбку, независимо от ее длины и фасона. Тренд последних лет в Москве — крупный рисунок с флористическими мотивами.
      p Необычно выглядит образ с контрастным кружевным поясом (синим, алым, изумрудным): он подчеркивает талию и вносит яркую деталь.
      p Воздушную материю используют и для аксессуаров: фаты, митенок или накидки.
    section
      p Если вы хотите сделать свою свадьбу сказочной, устроить волшебную фотосессию и чувствовать себя настоящей принцессой или королевской особой — купите кружевное платье без сомнений и размышлений. В этот день можно выступить в той роли, которая вам по душе.