mixin all-dresses-article
  h1.articles__title-one Легко ли купить свадебное платье?
  article.articles__text
    section
      p Существует предсказания, связанные с венчальным обрядом: какие выбрать туфли, кольца, убранство молодоженов и т.д. Остановим внимание на главном поверье - о том, что свадебное платье надо именно купить, а не брать его взаймы (или в аренду). Оно должно быть новым, чтобы жизнь молодых была в достатке и без долгов. Потому, знающие люди не советуют экономить в таком вопросе.
    section
      h2 Изумительная коллекция
      p В разделе «Каталог» представлены товары с иголочки. Мы предлагаем шикарный выбор достойный королев. И никакого проката.
      ul
        li Есть разнообразные фасоны: от классики до модерна;
        li Дизайнерские произведения с украшениями: вышивка, кружево, бисер;
        li Модели оригинальных расцветок: голубой, беж;
        li Присутствуют размеры и индивидуальный подбор
      p Среди замечательных образов обязательно найдется наряд, который принесет счастье и будет настоящим талисманом для Вас
    section
      h3 Ателье или магазин?
      p А как же персональный пошив? В каталоге под каждой фото указана реальная стоимость. Вы можете сравнить цены на услуги мастерской, и станет понятно, что выгодней купить готовый наряд и подогнать его под свои нужды, т.к. ткань, фактура и сама работа получается недешевой. Кроме того, есть еще несколько моментов в пользу преимуществ магазинного сервиса:
      ul
        li Экономия времени (после заказа в ателье необходимы бесконечные примерки);
        li Возможна доставка по адресу;
        li Качество изделий (к сожалению, даже в студиях высокие расценки не всегда совпадают с ожидаемым результатом).
    section
      p Еще немного информации
      p Ассортимент обновляется и последние новинки уже красуются на страницах нашего каталога. У нас есть все, о чем мечтают девушки - ''Всё Невестам'' желания превращает в реальность.