mixin dekoracii-svadebnymi-rastenijami
  h1.articles__title-one Декорация свадьбы растениями и травами
  article.articles__text
    section
      p Эвкалипт не единственный вариант «зеленого» украшения.
      img(src='1.png')
      p Вам надоели клеше или Вы просто хотите добавить изюминку в оформление свадьбы? Хочется дополнить обычные украшения из цветков или вообще заменить их? Не каждому придёт в голову заменить цветы травами. Однако, растения бывают разных форм, размеров; своим приятным запахом (зачастую приятнее и сильнее запаха цветов) будут стимулировать обоняние гостей свадьбы.
    section
      h3 Цветочные Альтернативы Свадьбы
      img(scr='2.png')
      p Пару веточек лаванды с розмарином будут смотреться естественного и добавят приятного аромата бутоньерке и букету, а так же прекрасно сочетаться со свадебным платьем невесты.
    section
      h3 Декор Междурядья
      img(src='3.png')
      p Горшечные растения идеально подходят для декорации открытого прохода между рядами - тяжелые горшки послужат якорем для растений, чтобы наверняка быть уверенным, что во время свадьбы кто-нибудь сломает или уронит их. Более того, они могут украсить ваше новобрачное гнездо после окончания свадьбы.
    section
      h3 Букет
      img(src='4.png')
      p Есть очень много трав, которые можно использовать для декорирования красивого букета из листвы: петрушка, базилик, мята, розмарин, орегано - список можно продолжать бесконечно. Вы можете подобрать подходящий вариант, полагаясь на символическое значение каждой из трав, аромат и форму, чтобы дополнить другие цветы вашего букета и подчеркнуть красоту наряда. Только не переусердствуйте – учитывайте, что некоторые растения пачкаются, какие то аллергенны.
    section
      h3 Гарниры
      img(src='5.png')
      p Решили угостить свих гостей после ЗАГСа коктейлем вместо обыденного шампанского? Добавьте листья маты или такие неожиданные варианты как тимьян, шалфей или вербена лимонная.
    section
      h3 Нумерация столов
      img(src='6.png')
      p Хотите креативную идею декорирования свадебного застолья? Установите пронумерованные терракотовые горшки с растениями на каждый стол для удобства рассаживания Ваших гостей. Или используйте пакетики с семенами – это так же прекрасная идея декорирования свадьбы.
    section
      h3 Декорация блюд
      img(src='7.png')
      p Небольшая ветка розмарина прекрасно украсит столовые приборы, тарелки и блюда. Так же можно использовать приборы из органических материалов, но учитывайте их ломкость и приготовьте запас.
    section
      h3 Консервы
      img(src='8.png')
      p Как бы это не смешно звучало, но обычные бабушкины консервы можно преподнести таким образом, что они будут вполне уместны в современном застолье. Устройте импровизированный «мини бар» или «шведский стол» из красиво оформленных консервированных овощей – пусть каждый сделает свой салат или возьмет уже готовый.
