Order Deny,Allow
# AfriNIC:
Deny from 41 102 105 197
# APNIC:
Deny from 1 14 27 36 39
Deny from 42.0.0.0/7
Deny from 49
Deny from 58.0.0.0/7
Deny from 60.0.0.0/7
Deny from 101 103 106
Deny from 110.0.0.0/7
Deny from 112.0.0.0/5
Deny from 120.0.0.0/6
Deny from 124.0.0.0/7
Deny from 126 133 175 180
Deny from 182.0.0.0/7
Deny from 202.0.0.0/7
Deny from 210.0.0.0/7
Deny from 218.0.0.0/7
Deny from 220.0.0.0/6
# LACNIC:
Deny from 177 179 181
Deny from 186.0.0.0/7
Deny from 189
Deny from 190.0.0.0/7
Deny from 200.0.0.0/7
# Networks:
Deny from 3 6 9 11 13 15
Deny from 16.0.0.0/6
Deny from 20.0.0.0/7
Deny from 22 25 26
Deny from 28.0.0.0/7
Deny from 30 33
Deny from 34.0.0.0/7
Deny from 38 40 44 47 48
Deny from 51
Deny from 52.0.0.0/6
Deny from 56.0.0.0/7
Deny from 214.0.0.0/7

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=259200"
</FilesMatch>

# сжатие text, html, javascript, css, xml:
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

RewriteEngine on
RewriteCond %{HTTP_HOST} ^vse-nevestam\.ru
RewriteRule ^(.*)$ https://www.vse-nevestam.ru/$1 [R=permanent,L]
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

RewriteBase /
 # html #
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php(.*)\ HTTP/ 
#RewriteRule ^index\.php$ https://www.vse-nevestam.ru [R=301,L] 
RewriteRule ^index(.*)$ https://www.vse-nevestam.ru [R=301,L]

RewriteRule ^dreses/all/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/pyshnye/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/lace/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/grecheskie/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/priamye/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/rusalka/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/pregnant/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/sleeves/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/trail/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/under16/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/popular/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/discounts/model(.*).html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]

RewriteRule ^dreses/all/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia [R=301,L]
RewriteRule ^dreses/pyshnye/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/pyshnye [R=301,L]
RewriteRule ^dreses/lace/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/lace [R=301,L]
RewriteRule ^dreses/grecheskie/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/grecheskie [R=301,L]
RewriteRule ^dreses/priamye/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/priamye [R=301,L]
RewriteRule ^dreses/rusalka/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/rusalka [R=301,L]
RewriteRule ^dreses/pregnant/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/pregnant [R=301,L]
RewriteRule ^dreses/sleeves/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/sleeves [R=301,L]
RewriteRule ^dreses/trail/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/trail [R=301,L]
RewriteRule ^dreses/under16/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/under16 [R=301,L]
RewriteRule ^dreses/popular/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/popular [R=301,L]
RewriteRule ^dreses/discounts/(.*)/(.*)/catalog.html$ https://www.vse-nevestam.ru/svadebnye-platia/discounts [R=301,L]
#RewriteRule ^jackets(.*)$ https://www.vse-nevestam.ru/accessories [R=301,L]
 


RewriteRule ^brides/all?$ showbrides.php [NC,L]
RewriteRule ^brides/(.*).html?$ showbrides.php?do=1&id=$1 [NC,L]
RewriteRule ^accessories?$ dress.php?whats=accessories [NC,L]
RewriteRule ^accessories/filter=(.*)?$ dress.php?whats=accessories&filter=$1 [NC,L]
RewriteRule ^svadebnye-platia?$ all-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/pyshnye?$ lush-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/lace?$ lace-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/grecheskie?$ greece-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/priamye?$ straight-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/rusalka?$ mermaid-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/pregnant?$ materity-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/sleeves?$ sleeves-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/trail?$ train-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/under16?$ cheap-dresses.html [NC,L]
RewriteRule ^svadebnye-platia/discounts?$ discount.html [NC,L]
RewriteRule ^svadebnye-platia/popular?$ all-dresses.html [NC,L]


RewriteRule ^bags/(.*)?$ 404.html [NC,L]
RewriteRule ^trail/(.*)?$ 404.html [NC,L]

#RewriteRule ^statji/(.*)?$ $1 [NC,L]
RewriteRule ^statji/glavnyi-atribut-svadby.html?$ glavnyi-atribut-svadby.html [NC,L]
RewriteRule ^statji/krugevnye-svadebnye-platia.html?$ krugevnye-svadebnye-platia.html [NC,L]
RewriteRule ^statji/stili-svadebnyh-platiev.html?$ stili-svadebnyh-platiev.html [NC,L]
RewriteRule ^statji/modnye-fasony-platiev.html?$ modnye-fasony-platiev.html [NC,L]
RewriteRule ^statji/torgestvennyi-den.html?$ torgestvennyi-den.html [NC,L]
RewriteRule ^statji/tematicheskaya-svadba.html?$ tematicheskaya-svadba.html [NC,L]
RewriteRule ^statji/podbor-platia-po-telu-1.html?$ podbor-platia-po-telu-1.html [NC,L]
RewriteRule ^statji/podbor-platia-po-telu-2.html?$ podbor-platia-po-telu-2.html [NC,L]
RewriteRule ^statji/podbor-platia-po-telu-3.html?$ podbor-platia-po-telu-3.html [NC,L]
RewriteRule ^statji/svadebnoye-platie-bu.html?$ svadebnoye-platie-bu.html [NC,L]
RewriteRule ^statji/dekoracii-svadebnymi-rastenijami.html?$ dekoracii-svadebnymi-rastenijami.html [NC,L]
RewriteRule ^statji/mesta-provedenija-medovogo-mesaca-pt1.html?$ mesta-provedenija-medovogo-mesaca-pt1.html [NC,L]
RewriteRule ^statji/mesta-provedenija-medovogo-mesaca-pt2.html?$ mesta-provedenija-medovogo-mesaca-pt2.html [NC,L]
RewriteRule ^statji/mesta-provedenija-medovogo-mesaca-pt3.html?$ mesta-provedenija-medovogo-mesaca-pt3.html [NC,L]
RewriteRule ^statji/svadebnoye-platie-dlya-polnoj-nevesty.html?$ svadebnoye-platie-dlya-polnoj-nevesty.html [NC,L]
RewriteRule ^statji/vybor-platia-po-photo.html?$ vybor-platia-po-photo.html [NC,L]
RewriteRule ^statji/plenitelnyj-obraz-nevesty.html?$ plenitelnyj-obraz-nevesty.html [NC,L]
#RewriteRule ^statji/svadebnye-trendy-2020.html?$ articles00.php?id=23 [NC,L]