.articles__image
  width: auto
  margin: 0 auto

.articles__text
  font-size: 0.8em

.articles__text-link
  color: blue
  text-decoration: underline

.articles__title-one
  font-size: 1.2rem
  text-align: center

.articles-grid__image
  height: 100%
  object-fit: cover
  
.articles-grid__title
  grid-column-start: 1
  grid-column-end: 4

.articles-grid
  display: grid
  grid-template: auto auto / repeat(3, 1fr)

.articles
  max-width: 800px
  margin: 0 auto