
extends ../layout.pug
include ../../assets/articles/dekoracii-svadebnymi-rastenijami/dekoracii-svadebnymi-rastenijami
append variables
  -
    var PageHead = {
      title : 'Декорация свадьбы растениями и травами',
      keywords : 'Декорация свадьбы растениями и травами',
      description : 'Декорация свадьбы растениями и травами',
    }
    
append content
  +dekoracii-svadebnymi-rastenijami
    