
extends ../layout.pug
include ../../assets/articles/dekoracii-svadebnymi-rastenijami/dekoracii-svadebnymi-rastenijami
append variables
  -
    var PageHead = {
      title : 'Декорация свадьбы растениями и травами',
      keywords : 'Декорация свадьбы растениями и травами',
      description : 'Декорация свадьбы растениями и травами',
    }
    globalHead.canonical += '/dekoracii-svadebnymi-rastenijami.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './dekoracii-svadebnymi-rastenijami.html'
    }
    
append content
  +dekoracii-svadebnymi-rastenijami
    