
extends ../layout.pug
include ../../assets/articles/dlya-polnoj-nevesty/dlya-polnoj-nevesty
append variables
  -
    var PageHead = {
      title : 'Особая коллекция – свадебные платья для полных',
      keywords : 'Особая коллекция – свадебные платья для полных',
      description : 'Особая коллекция – свадебные платья для полных',
    }
    
append content
  +dlya-polnoj-nevesty
  