
extends ../layout.pug
include ../../assets/articles/dlya-polnoj-nevesty/dlya-polnoj-nevesty
append variables
  -
    var PageHead = {
      title : 'Особая коллекция – свадебные платья для полных',
      keywords : 'Особая коллекция – свадебные платья для полных',
      description : 'Особая коллекция – свадебные платья для полных',
    }
    globalHead.canonical += '/dlya-polnoj-nevesty.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './dlya-polnoj-nevesty.html'
    }
    
append head 
  script(type="application/ld+json")
    include dlya-polnoj-nevesty-jsonld.json

append content
  +dlya-polnoj-nevesty
    