
extends ../layout.pug
include ../../assets/articles/dlya-polnoj-nevesty/dlya-polnoj-nevesty
append variables
  - 
    var thisPageAddress = 'dlya-polnoj-nevesty.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'свадебные платья для полных',
      href : `./${thisPageAddress}`
    }
    var PageHead = {
      title : 'Купить свадебное платье для полных',
      keywords : 'купить свадебное платье для полных',
      description : 'Особая коллекция – свадебные платья для полных',
      canonical : `${globalHead.canonical}/${thisPageAddress}`,
    }
    
append content
  +dlya-polnoj-nevesty
    