
extends ../layout.pug
include ../../assets/articles/glavnyi-atribut-svadby/glavnyi-atribut-svadby
append variables
  -
    var PageHead = {
      title : 'Платье - главный атрибут свадьбы',
      keywords : 'Платье - главный атрибут свадьбы',
      description : 'Платье - главный атрибут свадьбы',
    }
    
append content
  +glavnyi-atribut-svadby
  