
extends ../layout.pug
include ../../assets/articles/glavnyi-atribut-svadby/glavnyi-atribut-svadby
append variables
  -
    var PageHead = {
      title : 'Платье - главный атрибут свадьбы',
      keywords : 'Платье - главный атрибут свадьбы',
      description : 'Платье - главный атрибут свадьбы',
    }
    globalHead.canonical += '/glavnyi-atribut-svadby.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './glavnyi-atribut-svadby.html'
    }
    
append head 
  script(type="application/ld+json")
    include glavnyi-atribut-svadby-jsonld.json

append content
  +glavnyi-atribut-svadby
    