
extends ../layout.pug
include ../../assets/articles/glavnyi-atribut-svadby/glavnyi-atribut-svadby
append variables
  -
    var thisPageAddress = 'glavnyi-atribut-svadby.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Платье - главный атрибут свадьбы',
      href : `./${thisPageAddress}`
    }
    var PageHead = {
      title : 'Платье - главный атрибут свадьбы',
      keywords : 'Платье - главный атрибут свадьбы',
      description : 'Платье - главный атрибут свадьбы',
      canonical : `${globalHead.canonical}/${thisPageAddress}`,
    }
    
append content
  +glavnyi-atribut-svadby
    