
extends ../layout.pug
include ../../assets/articles/krugevnye-svadebnye-platia/krugevnye-svadebnye-platia
append variables
  -
    var PageHead = {
      title : 'Кружево в платье невесты',
      keywords : 'Кружево в платье невесты',
      description : 'Кружево в платье невесты',
    }
    
append content
  +krugevnye-svadebnye-platia
    