
extends ../layout.pug
include ../../assets/articles/krugevnye-svadebnye-platia/krugevnye-svadebnye-platia
append variables
  -
    var PageHead = {
      title : 'Кружево в платье невесты',
      keywords : 'Кружево в платье невесты',
      description : 'Кружево в платье невесты',
    }
    globalHead.canonical += '/krugevnye-svadebnye-platia.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './krugevnye-svadebnye-platia.html'
    }
    
append head 
  script(type="application/ld+json")
    include krugevnye-svadebnye-platia-jsonld.json

append content
  +krugevnye-svadebnye-platia
    