
extends ../layout.pug
include ../../assets/articles/mesta-provedenija-medovogo-mesaca-pt1/mesta-provedenija-medovogo-mesaca-pt1
append variables
  -
    var PageHead = {
      title : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
      keywords : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
      description : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
    }
    globalHead.canonical += '/mesta-provedenija-medovogo-mesaca-pt1.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './mesta-provedenija-medovogo-mesaca-pt1.html'
    }
    
append head 
  script(type="application/ld+json")
    include mesta-provedenija-medovogo-mesaca-pt1-jsonld.json

append content
  +mesta-provedenija-medovogo-mesaca-pt1
    