
extends ../layout.pug
include ../../assets/articles/mesta-provedenija-medovogo-mesaca-pt2/mesta-provedenija-medovogo-mesaca-pt2
append variables
  -
    var PageHead = {
      title : 'Экзотические места проведения медового месяца (Острова, Мьянма, Мексика, Колумбия)',
      keywords : 'Экзотические места проведения медового месяца (Острова, Мьянма, Мексика, Колумбия)',
      description : 'Экзотические места проведения медового месяца (Острова, Мьянма, Мексика, Колумбия)',
    }
    globalHead.canonical += '/mesta-provedenija-medovogo-mesaca-pt2.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './mesta-provedenija-medovogo-mesaca-pt2.html'
    }
    
append head 
  script(type="application/ld+json")
    include mesta-provedenija-medovogo-mesaca-pt2-jsonld.json

append content
  +mesta-provedenija-medovogo-mesaca-pt2
    