
extends ../layout.pug
include ../../assets/articles/mesta-provedenija-medovogo-mesaca-pt1/mesta-provedenija-medovogo-mesaca-pt1
append variables
  -
    var thisPageAddress = 'mesta-provedenija-medovogo-mesaca-pt1.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
      href : `./${thisPageAddress}`
    }
    var PageHead = {
      title : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
      keywords : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
      description : 'Экзотические места проведения медового месяца (Перу, Колорадо, Африка)',
      canonical : `${globalHead.canonical}/${thisPageAddress}`,
    }
    
append content
  +mesta-provedenija-medovogo-mesaca-pt1
    