
extends ../layout.pug
include ../../assets/articles/mesta-provedenija-medovogo-mesaca-pt3/mesta-provedenija-medovogo-mesaca-pt3
append variables
  -
    var PageHead = {
      title : 'Экзотические места отдыха после свадьбы (Марокко, Австралия, Исландия, Италия)',
      keywords : 'Экзотические места отдыха после свадьбы (Марокко, Австралия, Исландия, Италия)',
      description : 'Экзотические места отдыха после свадьбы (Марокко, Австралия, Исландия, Италия)',
    }
    
append content
  +mesta-provedenija-medovogo-mesaca-pt3
    