
extends ../layout.pug
include ../../assets/articles/modnye-fasony-platiev/modnye-fasony-platiev
append variables
  -
    var PageHead = {
      title : 'Элегантные свадебные платья в пол',
      keywords : 'Элегантные свадебные платья в пол',
      description : 'Элегантные свадебные платья в пол',
    }
    globalHead.canonical += '/modnye-fasony-platiev.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './modnye-fasony-platiev.html'
    }
    
append head 
  script(type="application/ld+json")
    include modnye-fasony-platiev-jsonld.json

append content
  +modnye-fasony-platiev
    