
extends ../layout.pug
include ../../assets/articles/modnye-fasony-platiev/modnye-fasony-platiev
append variables
  -
    var PageHead = {
      title : 'Элегантные свадебные платья в пол',
      keywords : 'Элегантные свадебные платья в пол',
      description : 'Элегантные свадебные платья в пол',
    }
    
append content
  +modnye-fasony-platiev
    