
extends ../layout.pug
include ../../assets/articles/plenitelnyj-obraz-nevesty/plenitelnyj-obraz-nevesty
append variables
  -
    var PageHead = {
      title : 'Пленительный образ невесты: как подготовиться к свадьбе?',
      keywords : 'Пленительный образ невесты: как подготовиться к свадьбе?',
      description : 'Пленительный образ невесты: как подготовиться к свадьбе?',
    }
    globalHead.canonical += '/plenitelnyj-obraz-nevesty.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './plenitelnyj-obraz-nevesty.html'
    }
    
append head 
  script(type="application/ld+json")
    include plenitelnyj-obraz-nevesty-jsonld.json

append content
  +plenitelnyj-obraz-nevesty
    