
extends ../layout.pug
include ../../assets/articles/podbor-platia-po-telu-3/podbor-platia-po-telu-3
append variables
  -
    var PageHead = {
      title : 'Подбор одежды по телосложению (высокая или миниатюрная девушка)',
      keywords : 'Подбор одежды по телосложению (высокая или миниатюрная девушка)',
      description : 'Подбор одежды по телосложению (высокая или миниатюрная девушка)',
    }
    
append content
  +podbor-platia-po-telu-3
  