
extends ../layout.pug
include ../../assets/articles/podbor-platia-po-telu-2/podbor-platia-po-telu-2
append variables
  -
    var PageHead = {
      title : 'Подбор одежды по телосложению (треугольник, прямоугольник и часы)',
      keywords : 'Подбор одежды по телосложению (треугольник, прямоугольник и часы)',
      description : 'Подбор одежды по телосложению (треугольник, прямоугольник и часы)',
    }
    globalHead.canonical += '/podbor-platia-po-telu-2.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './podbor-platia-po-telu-2.html'
    }
    
append head 
  script(type="application/ld+json")
    include podbor-platia-po-telu-2-jsonld.json

append content
  +podbor-platia-po-telu-2
    