
extends ../layout.pug
include ../../assets/articles/podbor-platia-po-telu-1/podbor-platia-po-telu-1
append variables
  -
    var thisPageAddress = 'podbor-platia-po-telu-1.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Подбор платья по телосложению (яблоко и груша)',
      href : `./${thisPageAddress}`
    }
    var PageHead = {
      title : 'Подбор платья по телосложению (яблоко и груша) ',
      keywords : 'Подбор платья по телосложению (яблоко и груша) ',
      description : 'Подбор платья по телосложению (яблоко и груша) ',
      canonical : `${globalHead.canonical}/${thisPageAddress}`,
    }
    
append content
  +podbor-platia-po-telu-1
    