
extends ../layout.pug
include ../../assets/articles/podbor-platia-po-telu-1/podbor-platia-po-telu-1
append variables
  -
    var PageHead = {
      title : 'Подбор платья по телосложению (яблоко и груша) ',
      keywords : 'Подбор платья по телосложению (яблоко и груша) ',
      description : 'Подбор платья по телосложению (яблоко и груша) ',
    }
    
append content
  +podbor-platia-po-telu-1
    