
extends ../layout.pug
include ../../assets/articles/podbor-platia-po-telu-1/podbor-platia-po-telu-1
append variables
  -
    var PageHead = {
      title : 'Подбор платья по телосложению (яблоко и груша) ',
      keywords : 'Подбор платья по телосложению (яблоко и груша) ',
      description : 'Подбор платья по телосложению (яблоко и груша) ',
    }
    globalHead.canonical += '/podbor-platia-po-telu-1.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './podbor-platia-po-telu-1.html'
    }
    
append head 
  script(type="application/ld+json")
    include podbor-platia-po-telu-1-jsonld.json

append content
  +podbor-platia-po-telu-1
    