
extends ../layout.pug
include ../../assets/articles/stili-svadebnyh-platiev/stili-svadebnyh-platiev
append variables
  -
    var PageHead = {
      title : 'Стили свадебных платьев',
      keywords : 'Стили свадебных платьев',
      description : 'Стили свадебных платьев',
    }
    
append content
  +stili-svadebnyh-platiev
    