
extends ../layout.pug
include ../../assets/articles/stili-svadebnyh-platiev/stili-svadebnyh-platiev
append variables
  -
    var PageHead = {
      title : 'Стили свадебных платьев',
      keywords : 'Стили свадебных платьев',
      description : 'Стили свадебных платьев',
    }
    globalHead.canonical += '/stili-svadebnyh-platiev.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './stili-svadebnyh-platiev.html'
    }
    
append head 
  script(type="application/ld+json")
    include stili-svadebnyh-platiev-jsonld.json

append content
  +stili-svadebnyh-platiev
    