
extends ../layout.pug
include ../../assets/articles/svadebnoye-platie-bu/svadebnoye-platie-bu
append variables
  -
    var PageHead = {
      title : 'Свадебные платья бу (бывшие в употреблении)',
      keywords : 'Свадебные платья бу (бывшие в употреблении)',
      description : 'Свадебные платья бу (бывшие в употреблении)',
    }
    globalHead.canonical += '/svadebnoye-platie-bu.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './svadebnoye-platie-bu.html'
    }
    
append head 
  script(type="application/ld+json")
    include svadebnoye-platie-bu-jsonld.json

append content
  +svadebnoye-platie-bu
    