
extends ../layout.pug
include ../../assets/articles/svadebnye-trendy-2020/svadebnye-trendy-2020
append variables
  -
    var PageHead = {
      title : 'Свадебные тренды',
      keywords : 'Свадебные тренды',
      description : 'Свадебные тренды',
    }
    globalHead.canonical += '/svadebnye-trendy-2020.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './svadebnye-trendy-2020.html'
    }
    
append content
  +svadebnye-trendy-2020
    