
extends ../layout.pug
include ../../assets/articles/svadebnoye-platie-bu/svadebnoye-platie-bu
append variables
  -
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Свадебные платья бу',
      href : `./svadebnoye-platie-bu.html`
    }
    var PageHead = {
      title : 'Свадебные платья бу (бывшие в употреблении)',
      keywords : 'Свадебные платья бу (бывшие в употреблении)',
      description : 'Свадебные платья бу (бывшие в употреблении)',
    }
    
append content
  +svadebnoye-platie-bu
    