
extends ../layout.pug
include ../../assets/articles/svadebnoye-platie-bu/svadebnoye-platie-bu
append variables
  -
    var PageHead = {
      title : 'Свадебные платья бу (бывшие в употреблении)',
      keywords : 'Свадебные платья бу (бывшие в употреблении)',
      description : 'Свадебные платья бу (бывшие в употреблении)',
    }
    
append content
  +svadebnoye-platie-bu
  