
extends ../layout.pug
include ../../assets/articles/tematicheskaya-svadba/tematicheskaya-svadba
append variables
  -
    var PageHead = {
      title : 'Тематическая свадьба',
      keywords : 'Тематическая свадьба',
      description : 'Тематическая свадьба',
    }
    globalHead.canonical += '/tematicheskaya-svadba.html'
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : './articles.html'
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Декорация свадьбы растениями и травами',
      href : './tematicheskaya-svadba.html'
    }
    
append content
  +tematicheskaya-svadba
    