
extends ../layout.pug
include ../../assets/articles/tematicheskaya-svadba/tematicheskaya-svadba
append variables
  -
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Тематическая свадьба',
      href : `./tematicheskaya-svadba.html`
    }
    var PageHead = {
      title : 'Тематическая свадьба',
      keywords : 'Тематическая свадьба',
      description : 'Тематическая свадьба',
    }
    
append content
  +tematicheskaya-svadba