
extends ../layout.pug
include ../../assets/articles/vybor-platia-po-photo/vybor-platia-po-photo
append variables
  -
    var PageHead = {
      title : 'Как выбирать свадебное платье',
      keywords : 'Как выбирать свадебное платье',
      description : 'Как выбирать свадебное платье',
    }
    
append content
  +vybor-platia-po-photo
  