
extends ../layout.pug
include ../../assets/articles/vybor-platia-po-photo/vybor-platia-po-photo
append variables
  -
    breadcumbList[breadcumbList.length] = {
      name : 'Заметки от салона Всё Невестам',
      href : `./articles.html`
    }
    breadcumbList[breadcumbList.length] = {
      name : 'Как выбирать свадебное платье',
      href : `./vybor-platia-po-photo.html`
    }
    var PageHead = {
      title : 'Как выбирать свадебное платье',
      keywords : 'Как выбирать свадебное платье',
      description : 'Как выбирать свадебное платье',
    }
    
append content
  +vybor-platia-po-photo
    