mixin discount-article
  h2.articles__title Позволь себе мечту и не переплачивай
  article.articles__text
    section
      p Один из самых трепетных и трогательных дней в жизни любой девушки – это свадьба. Поэтому каждая девушка хочет быть на своем торжестве самой красивой, нежной, обворожительной.
      p Конечно, все мы понимаем, что роскошное и стильное свадебное платье не может находиться среди распродажи, но специально для любимых клиентов мы ставим доступный прайс, дающий шанс купить великолепное убранство по приятной распродажной цене. Такое приобретение позволяет не только сэкономить бюджет будущей семьи, но и дает возможность девушке быть настоящей принцессой на своем торжестве.
      p Если Вы будущая суспруга и ищете, где есть большой выбор свадебных нарядов, то посетите магазин Всё Невестам. Вы будете приятно удивлены огромным ассортиментом нарядов, отличающихся отменным качеством и стилем. Модели, представленные у нас, удовлетворят даже самый взыскательный вкус, воплотив в реальность детские мечтания каждой.
    section
      p А какое оно, платье по распродаже?
      p У каждой девушки свое. Одни хотят как у настоящей принцессы: пышный, длинный, волшебный, другие мечтают о классическом силуэте с минимумом украшений и изысков, а третьи без ума от дерзких стилистических решений. Помня о том, что каждая дама индивидуальна, мы собрали огромное количество различных форм и фасонов. Если вам понравилась какая-то модель, то не раздумывайте долго, приезжайте, примеряйте, пока свадебное платье не ушло! Возможно, очутившись у нас, вы влюбитесь в совершенно другое платье и поймете, что именно оно воплощение вашей мечты. Такое тоже бывает. Ведь увидев все великолепие и ассортимент, глаза просто разбегаются, хочется прикупить все и сразу. Не теряйте времени! Спешите на примерку к Всё Невестам. Позвольте себе наряд своей мечты, вы не прогадаете!