//- page.pug
extends ../layout.pug
include ../../assets/blocks/main-menu/main-menu

block variables
  -
    var indexPageHead = {
      title : 'Свадебный салон Всё Невестам - свадебные платья в Москве',
      keywords : 'свадебный салон в москве, магазин свадебных платьев',
      description : 'Свадебный салон низких цен у м. Аэропорт +7-985-635-5151 Всё Невестам - Свадебные платья любых размеров недорого.',
    }
    //- var globalHead = {
    //-   canonical : 'http://www.vse-nevestam.ru',
    //- }

append content
  .container
    +showMainMenu