mixin materity-dresses-article
  h2.articles__title-one
  artcile.articles__text
    p Одежда из мягкого на ощупь струящегося материала с завышенной талией станет идеальным решением для беременной невесты не зависимо от срока