mixin krugevnye-svadebnye-platia
  h1.articles__title Кружево в платье невесты
  article.articles__text
    section
      p Кружево всегда было знаком роскошного одеяния. А ведь каждой девушке на свою свадьбу хочется одеть самое роскошное, что можно найти. наверное мечта многих девушек это быть похожей на сказочную принцессу и рядом жених в красивом костюме. Как тут обойтись без кружева? Ведь без этого украшения не обходиться практически ни одни наряды длинным рукавом в том или ином объеме им украшен либо корсет, либо низ юбки, а очень часто оно полностью из кружева. И это завораживает, ведь паутинка такая нежная и невесомая. И девушка в таком наряде очень женственна и невинна и в то же время кружевное свадебное платье недорого оставляет место для фантазии. Несомненно, такая романтичная суженая желанна всяким. И поэтому меняется мода на платья, а мода на кружево и рукава остается бессмертна.
      p Девушки всегда любили этот материал, но расцвет пришелся на 19 век. Тогда считалось, что только такие наряды достойны дам высшего света. И изготавливали узоры везде, в том числе и в России.
      p Сегодня так же очень популярен ажур. Ведь оно так великолепно подчеркивает хрупкость и величие. Как правило узорчатые наряды бывают классического покроя с рукавами. Такое как прямое или трапеция. Так же интересно будет смотреться одежда из кружева в стиле русалка, с рукавами и без. Но сейчас дизайнеры предлагают Вам выделиться из толпы за счет использования кружева другого цвета, например черного, синего или красного. Так что с каждым годом у избранниц все больше и больше становиться выбор нетрадиционных и интересных вариантов.
      p Но что бы Вы не выбрали, нужно обратить внимание на следующие моменты:
      ul 
        li Во первых частичная отделка ажуром привлекает внимание. Например, у вас отделка только на лифе – это привлечет взгляды к груди. Поэтому внимательно осмотрите отделку и подумайте, что именно хотите подчеркнуть: грудь, талию или ножки.
        li Во вторых правильный корсет с отделкой поможет скрыть недостатки фигуры и подчеркнуть достоинства. Так более объемная вышивка и отделка на груди поможет зрительно ее увеличить. А болеро скроет полные руки.
        li Ну и, конечно же, прекрасно подойдут длинная фата или перчатки до локтя, а может и пикантная шляпка-вуалетка. У Вас всегда будет место фантазии, будь то цветы или любой декоративный элемент, который подойдет по стилю и цвету.
        li Но самое главное это Ваши улыбка и хорошее настроение, которые не оставят гостей и жениха равнодушными.
