@import @/styles/resizable-fonts.sass
@import @/styles/breakpoints.sass
@import @/styles/constants.sass

@import @/assets/articles/articles.sass

@import @/assets/blocks/margins/margins.sass
@import @/assets/blocks/main-menu/main-menu.sass
@import @/assets/blocks/dress-card/dress-card.sass
@import @/assets/blocks/dress-cards-list/dress-cards-list.sass
@import @/assets/blocks/top-sign/top-sign.sass
@import @/assets/blocks/top-menu/top-menu.sass
@import @/assets/blocks/sign-up/sign-up

@import @/pages/layout.sass

@font-face
 font-family: "Oswald"
 src: url("@/assets/fonts/Oswald-Regular.ttf") format('truetype'),

html
  @include fluidFontSize(20px, 14px, 320px, 1320px)

body
  font-family: sans-serif
  margin: 0

ul, li, h1, h2, h3, h4, h5
  margin: 0
  padding: 0

li
  list-style-type: none

h1, h2, h3, h4, h5
  font-weight: normal
  font-size: 1rem

a
  text-decoration: none
  color: #343234

img
  display: block
  width: 100%
  height: auto
  max-width: 100%

.container
  // padding: 1rem 0.5rem 0 0.5rem
  margin: 0 auto
  // border: 1px solid #000
  min-height: 90vh