mixin podbor-platia-po-telu-1
  h1.articles__title-one Подбор платья по телосложению (яблоко и груша) 
  article.articles__text
    section
      p Исследование проведено американской компанией базл.
      p Тот день, когда невеста является звездой, и она должна чувствовать и выглядеть лучше всех. Все глаза на нее и платье невесты становится важным фактором, определяющим ее внешний вид.
      p Мы считаем, что наряд должен отражать то, чем ты являешся. Поэтому, нужно выбрать одеяние, которое подходит под ваше телосложение. Это - одна из самых важных задач для невесты. В то время когда девушка находится в поиске подвенечного наряда, нужно обязательно учитывать телосложение, чтобы все идеально подходило. Предлагаем Вашему вниманию руководство поиска, которое заставит людей застыть и созерцать вас – красивую и потрясающую невесту.
    section 
      h3 Девушка "Яблоко"
      img.articles__image(src='./images/articles/podbor-platia-po-telu-1/1.png')
      p Образ яблоко - с широкими плечами, более чувственная, чем другие. Маленькая талия, полная грудь – все это очень выделяет верхнюю часть тела. Эта форма соотносится с тонкими руками и ногами, которые легко могут быть выделены правильно подобранным товаром.
      img.articles__image(src='./images/articles/podbor-platia-po-telu-1/2.png')
      img.articles__image(src='./images/articles/podbor-platia-po-telu-1/3.png')
      ul 
        li "да": Если у Вас форма яблока, вы должны выбрать одежды, которые принимают вес туловища и бюст, и подчеркнуть ваши руки. Глубокое декольте помогут привлечь внимание к верхней части, в то время как бедра должна быть эффективно скрыты пышной или прямой юбкой. Кроме того, вы можете выбрать прямое (кружевное), чтобы подчеркнуть узкую талию.
        li "нет": Вам лучше держаться подальше от русалок, которые прилегают к телу, подчеркивая полное туловища. Также избегайте нардов без бретелек и лямок, так как это может чересчур оголить пышную грудь. Избавьтесь от пышных рукавов, накидок и других громоздких аксессуаров.
    section 
      h3 Грушевидное тело
      img.articles__image(src='./images/articles/podbor-platia-po-telu-1/4.png')
      p Суть "груши" – маленькая или миниатюрная верхняя часть силуэта, и тяжелый низ. Как груша или треугольник, у вас узкие плечи и бюст, но широкие бедра. Вам необходимо выделить верхнюю часть тела, а также для немного отвлечь внимание от нижней части.
      img.articles__image(src='./images/articles/podbor-platia-po-telu-1/5.png')
      img.articles__image(src='./images/articles/podbor-platia-po-telu-1/6.png')
      p "да": Учитывая, что у "Груши" стройные плечи и небольшого размера бюст, вы можете очень хорошо оголить одно плечо, и одевать одежду без бретелек. Небольшой V образный вырез так же будет очень хорошо смотреться. Вам лучше всего подойдут платья A-линии, принцесса и пышные для вашей свадьбы.
      p "нет": Русалка и прямые (греческие) наряды скорее всего не для типажа "груша", однако все индивидуально. Держитесь подальше от высокого ворота.
