mixin tematicheskaya-svadba
  h1.articles__title Тематическая свадьба
  article.articles__text
    section 
      p Ярко, весело и необычно провести свадебное торжество – это мечта многих молодых людей, решивших объединить два любящих сердца одной судьбой.
      p Молодоженам и самим гостям свадебной церемонии надолго запомниться праздник, если его провести в тематическом стиле. Сегодня существует множество интересных тем для организации такой свадьбы.
      p Так, можно провести свадьбу в греческом, гавайском, гангстерском или другом необычном стиле. Интересно, что при организации тематической свадьбы составляются специальные сценарии, а сами молодожены и приглашенные гости одеваются в тематические костюмы. Многие свадебные салоны предлагают для молодоженов наряды именно в тематическом стиле. Так, можно купить свадебное платье в греческом стиле или, например, в стиле сказочного героя.
      p Узнать о том, что свадьба будет проводиться в тематическом стиле, можно уже из пригласительной открытки. Молодожены, решившие отметить свой первый семейный праздник оригинальным образом, готовят специальные приглашения, которые соответствуют стилю проведения торжества. При этом в пригласительных открытках или делается намек на то, каким должен быть костюм приглашенного гостя, или указывается открыто, с подробным описанием всех его деталей.
      p Именно при проведении таких свадеб можно увидеть на невестах новейшие свадебные платья, которые отличаются от привычных нарядов новым кроем, стилем исполнения и даже неожиданным цветовым решением.
      p Такие свадьбы отличаются от классического застолья необычным весельем, легкой и располагающей атмосферой. Тематические торжества непременно станут ярким событием в жизни молодых и надолго запомнятся всем приглашенным гостям.
