//- page.pug
extends ../layout.pug
include ./catalog-includes.pug

include ../../assets/articles/all-dresses-article/all-dresses-article

append variables
  -
    breadcumbList[breadcumbList.length] = {
        name : 'Каталог свадебных платьев',
        href : `./all-dresses.html`
      }
    breadcumbList[breadcumbList.length] = {
        name : 'Каталог свадебных платьев',
        href : `./all-dresses.html`
      }
    var PageHead = {
      title : 'Каталог свадебных платьев - цены на свадебные платья',
      keywords : 'каталог свадебных платьев, цены на свадебные платья',
      description : 'Каталог свадебных платьев Все Невестам',
    }
  include ./dresses-list
    //если убрать эту пустую строку то нихера не работает получение переменных из dresses-list

append content
  - var drs = dressesList
  each dress,index in dressesList
    - 
      drs[index].imageName = drs[index].imageNames[0]
      //- drs[index].underText = [drs[index].additionalInfo.price, `Размеры в наличии: ${drs[index].additionalInfo.size}`]
      drs[index].underText = [drs[index].additionalInfo.price]
      drs[index].titleUnder = drs[index].additionalInfo.dressName
  +dress-cards-list(drs,true)
  +all-dresses-article