//- page.pug
extends ../layout.pug
include ../../assets/blocks/dress-card/dress-card
include ../../assets/blocks/dress-cards-list/dress-cards-list

include ../../assets/articles/main-page-article/main-page-article


append variables
  -
    var PageHead = {
      title : 'Каталог свадебных платьев - цены на свадебные платья',
      keywords : 'каталог свадебных платьев, цены на свадебные платья',
      description : 'Каталог свадебных платьев Все Невестам',
    }
  include ./dresses-list
    //если убрать эту строку то нихера не работает получение переменных из dresses-list

append content
  - var drs = dressesList
  each dress,index in dressesList
    - 
      drs[index].imagePath = `${drs[index].imagePath}/${drs[index].imageNames[0]}`
      drs[index].underText = [drs[index].additionalInfo.price, `Размеры в наличии: ${drs[index].additionalInfo.size}`]
  +dress-cards-list(drs,bottom=true)