//- page.pug
extends ../layout.pug
include ./catalog-includes.pug

append variables
  -
    breadcumbList[breadcumbList.length] = {
      name : 'Каталог свадебных платьев',
      href : `./all-dresses.html`
    }
    var PageHead = {
      title : 'Каталог свадебных платьев - цены на свадебные платья',
      keywords : 'каталог свадебных платьев, цены на свадебные платья',
      description : 'Каталог свадебных платьев Все Невестам',
    }
    var dressesList = [
      {imagePath: './images/catalog/lush.jpg', href: '', titleInMiddle: 'Пышные свадебные платья'},
      {imagePath: './images/catalog/greece.jpg', href: '', titleInMiddle: 'Греческие свадебные платья'},
      {imagePath: './images/catalog/lace.jpg', href: '', titleInMiddle: 'Кружевные свадебные платья'},
      {imagePath: './images/catalog/straight.jpg', href: '', titleInMiddle: 'Прямые свадебные платья'},
      {imagePath: './images/catalog/mermaid.jpg', href: '', titleInMiddle: 'Свадебные платья рыбка'},
      {imagePath: './images/catalog/materity.jpg', href: '', titleInMiddle: 'Свадебные платья для беременных'},
      {imagePath: './images/catalog/sleeves.jpg', href: '', titleInMiddle: 'Свадебные платья с рукавами'},
      {imagePath: './images/catalog/train.jpg', href: '', titleInMiddle: 'Свадебные платья со шлейфом'},
      {imagePath: './images/catalog/cheap.jpg', href: '', titleInMiddle: 'Дешевые свадебные платья'},
    ]

append content
  +dress-cards-list(dressesList, bottom=true)