//- page.pug
extends ../layout.pug
include ../../assets/blocks/dress-card/dress-card
include ../../assets/blocks/dress-cards-list/dress-cards-list

include ../../assets/articles/main-page-article/main-page-article

append variables
  -
    var PageHead = {
      title : 'Каталог свадебных платьев - цены на свадебные платья',
      keywords : 'каталог свадебных платьев, цены на свадебные платья',
      description : 'Каталог свадебных платьев Все Невестам',
    }
    var dressesList = [
      {imagePath: './images/catalog/fluffy.jpg', href: '', titleInMiddle: 'Пышные свадебные платья'},
      {imagePath: './images/catalog/greece.jpg', href: '', titleInMiddle: 'Греческие свадебные платья'},
      {imagePath: './images/catalog/lace.jpg', href: '', titleInMiddle: 'Кружевные свадебные платья'},
      {imagePath: './images/catalog/straight.jpg', href: '', titleInMiddle: 'Прямые свадебные платья'},
      {imagePath: './images/catalog/mermaid.jpg', href: '', titleInMiddle: 'Свадебные платья рыбка'},
      {imagePath: './images/catalog/greece.jpg', href: '', titleInMiddle: 'Свадебные платья для беременных'},
      {imagePath: './images/catalog/sleeves.jpg', href: '', titleInMiddle: 'Свадебные платья с рукавами'},
      {imagePath: './images/catalog/train.jpg', href: '', titleInMiddle: 'Свадебные платья со шлейфом'},
      {imagePath: './images/catalog/cheap.jpg', href: '', titleInMiddle: 'Дешевые свадебные платья'},
    ]

append content
  +dress-cards-list(dressesList)