- 
  var allDressesList = [{imagePath: './images/dresses/0001/1.JPG'},{imagePath: './images/dresses/0001/2.JPG'},{imagePath: './images/dresses/0001/3.JPG'},{imagePath: './images/dresses/0002/1.JPG'},{imagePath: './images/dresses/0002/2.JPG'},{imagePath: './images/dresses/0002/3.JPG'},{imagePath: './images/dresses/0003/1.JPG'},{imagePath: './images/dresses/0003/2.JPG'},{imagePath: './images/dresses/0003/3.JPG'},{imagePath: './images/dresses/0004/1.JPG'},{imagePath: './images/dresses/0004/2.JPG'},{imagePath: './images/dresses/0004/3.JPG'},{imagePath: './images/dresses/0005/1.JPG'},{imagePath: './images/dresses/0005/2.JPG'},{imagePath: './images/dresses/0005/3.JPG'},{imagePath: './images/dresses/0006/1.JPG'},{imagePath: './images/dresses/0006/2.JPG'},{imagePath: './images/dresses/0006/3.JPG'},{imagePath: './images/dresses/0006/4.JPG'},{imagePath: './images/dresses/0007/1.JPG'},{imagePath: './images/dresses/0007/2.JPG'},{imagePath: './images/dresses/0007/3.JPG'},{imagePath: './images/dresses/0007/4.JPG'},{imagePath: './images/dresses/0007/5.JPG'},{imagePath: './images/dresses/0007/6.JPG'},{imagePath: './images/dresses/0008/1.JPG'},{imagePath: './images/dresses/0008/2.JPG'},{imagePath: './images/dresses/0009/1.JPG'},{imagePath: './images/dresses/0009/2.JPG'},{imagePath: './images/dresses/0010/IMG_1211.JPG'},{imagePath: './images/dresses/0010/IMG_1212.JPG'},{imagePath: './images/dresses/0010/IMG_1213.JPG'},{imagePath: './images/dresses/0010/IMG_1214.JPG'},{imagePath: './images/dresses/0011/IMG_1215.JPG'},{imagePath: './images/dresses/0011/IMG_1216.JPG'},{imagePath: './images/dresses/0011/IMG_1217.JPG'},{imagePath: './images/dresses/0012/IMG_1218.JPG'},{imagePath: './images/dresses/0012/IMG_1219.JPG'},{imagePath: './images/dresses/0012/IMG_1220.JPG'},{imagePath: './images/dresses/0012/IMG_1221.JPG'},{imagePath: './images/dresses/0012/IMG_1222.JPG'},{imagePath: './images/dresses/0013/IMG_1223.JPG'},{imagePath: './images/dresses/0013/IMG_1224.JPG'},{imagePath: './images/dresses/0013/IMG_1225.JPG'},{imagePath: './images/dresses/0013/IMG_1226.JPG'},{imagePath: './images/dresses/0013/IMG_1227.JPG'},{imagePath: './images/dresses/0014/IMG_1228.JPG'},{imagePath: './images/dresses/0014/IMG_1229.JPG'},{imagePath: './images/dresses/0014/IMG_1230.JPG'},{imagePath: './images/dresses/0015/IMG_1231.JPG'},{imagePath: './images/dresses/0015/IMG_1232.JPG'},{imagePath: './images/dresses/0015/IMG_1233.JPG'},{imagePath: './images/dresses/0015/IMG_1234.JPG'},{imagePath: './images/dresses/0016/IMG_1235.JPG'},{imagePath: './images/dresses/0016/IMG_1236.JPG'},{imagePath: './images/dresses/0016/IMG_1237.JPG'},{imagePath: './images/dresses/0016/IMG_1238.JPG'},{imagePath: './images/dresses/0016/IMG_1239.JPG'},{imagePath: './images/dresses/0017/IMG_1240.JPG'},{imagePath: './images/dresses/0017/IMG_1241.JPG'},{imagePath: './images/dresses/0017/IMG_1242.JPG'},{imagePath: './images/dresses/0018/IMG_1243.JPG'},{imagePath: './images/dresses/0018/IMG_1244.JPG'},{imagePath: './images/dresses/0018/IMG_1245.JPG'},{imagePath: './images/dresses/0019/IMG_1246.JPG'},{imagePath: './images/dresses/0019/IMG_1247.JPG'},{imagePath: './images/dresses/0019/IMG_1248.JPG'},{imagePath: './images/dresses/0019/IMG_1249.JPG'},]
  var dressesList = [{
        imagePath: './images/dresses/0001',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"27000","size":"40-42,44-46","additional":"Свадебное платье с блестящим корсетом"}
      },{
        imagePath: './images/dresses/0002',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"29000","size":"40,42,44","additional":"Свадебное платье с кружевным корсетом"}
      },{
        imagePath: './images/dresses/0003',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"15000","size":"40-44","additional":"Недорогое свадебное платье с закрытыми плечами"}
      },{
        imagePath: './images/dresses/0004',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"25000","size":"40-42-44","additional":"Пышное атласное платье с кружевным корсетом"}
      },{
        imagePath: './images/dresses/0005',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"Уточнить","size":"42-44","additional":"Пышное платье-трансформер со шлейфом"}
      },{
        imagePath: './images/dresses/0006',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG',],
        additionalInfo: {"price":"24000","size":"40-44","additional":"Нежное и легкое свадебное платье"}
      },{
        imagePath: './images/dresses/0007',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG','5.JPG','6.JPG',],
        additionalInfo: {"price":"29000","size":"40-44","additional":"Пышное платье с рукавами"}
      },{
        imagePath: './images/dresses/0008',
        imageNames:['1 (2).JPG','1.JPG','2 (2).JPG','2.JPG',],
        additionalInfo: {"price":"29000","size":"42-44-46","additional":"Очень пышное свадебное платье с плечиками"}
      },{
        imagePath: './images/dresses/0010',
        imageNames:['IMG_1211.JPG','IMG_1212.JPG','IMG_1213.JPG','IMG_1214.JPG',],
        additionalInfo: {"price":"25000","size":"40-42-44","additional":"Пышное свадебное платье с кружевным корсетом и юбкой"}
      },{
        imagePath: './images/dresses/0011',
        imageNames:['IMG_1215.JPG','IMG_1216.JPG','IMG_1217.JPG',],
        additionalInfo: {"price":"24000","size":"42-44","additional":"Яркое блестящее свадебное платье"}
      },{
        imagePath: './images/dresses/0012',
        imageNames:['IMG_1218.JPG','IMG_1219.JPG','IMG_1220.JPG','IMG_1221.JPG','IMG_1222.JPG',],
        additionalInfo: {"price":"27000","size":"42-44","additional":"Легкое платье А-силуэта с рукавами и ручной расшивкой"}
      },{
        imagePath: './images/dresses/0013',
        imageNames:['IMG_1223.JPG','IMG_1224.JPG','IMG_1225.JPG','IMG_1226.JPG','IMG_1227.JPG',],
        additionalInfo: {"price":"26000","size":"42-46","additional":"Блестящее свадебное платье А-силуэта"}
      },{
        imagePath: './images/dresses/0014',
        imageNames:['IMG_1228.JPG','IMG_1229.JPG','IMG_1230.JPG',],
        additionalInfo: {"price":"25000","size":"42-46","additional":"Кружевное прямое свадебное платье"}
      },{
        imagePath: './images/dresses/0015',
        imageNames:['IMG_1231.JPG','IMG_1232.JPG','IMG_1233.JPG','IMG_1234.JPG',],
        additionalInfo: {"price":"27000","size":"40-44","additional":"Пышное мягкое свадебное платье"}
      },{
        imagePath: './images/dresses/0016',
        imageNames:['IMG_1235.JPG','IMG_1236.JPG','IMG_1237.JPG','IMG_1238.JPG','IMG_1239.JPG',],
        additionalInfo: {"price":"22000","size":"42-46","additional":"Легкое свадебное платье с рукавами"}
      },{
        imagePath: './images/dresses/0017',
        imageNames:['IMG_1240.JPG','IMG_1241.JPG','IMG_1242.JPG',],
        additionalInfo: {"price":"25000","size":"42-46","additional":"Сверкающее свадебное платье с плечиками"}
      },{
        imagePath: './images/dresses/0018',
        imageNames:['IMG_1243.JPG','IMG_1244.JPG','IMG_1245.JPG',],
        additionalInfo: {"price":"22000","size":"44-48","additional":"Пышное свадебное платье с вырезом"}
      },{
        imagePath: './images/dresses/0019',
        imageNames:['IMG_1246.JPG','IMG_1247.JPG','IMG_1248.JPG','IMG_1249.JPG',],
        additionalInfo: {"price":"18000","size":"40-44","additional":"Платье а силуэта с кружевным корсетом"}
      },]