- 
  var XYJ
  var dressesList = [{
        imagePath: './catalog/dresses/0001',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"27000","size":"40-42,44-46","additional":"Свадебное платье с блестящим корсетом","dressName":"Амелиа","typeOfDress":["lush"]}
      },{
        imagePath: './catalog/dresses/0002',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"29000","size":"40,42,44","additional":"Свадебное платье с кружевным корсетом","dressName":"Изабэлла","typeOfDress":["lush","lace","sleeves"]}
      },{
        imagePath: './catalog/dresses/0003',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"15000","size":"40-44","additional":"Недорогое свадебное платье с закрытыми плечами","dressName":"Мия","typeOfDress":["straight","sleeves","cheap"]}
      },{
        imagePath: './catalog/dresses/0004',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"25000","size":"40-42-44","additional":"Пышное атласное платье с кружевным корсетом","dressName":"Эвелин","typeOfDress":["lush","lace","sleeves"]}
      },{
        imagePath: './catalog/dresses/0005',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: {"price":"Уточнить","size":"42-44","additional":"Пышное платье-трансформер со шлейфом","dressName":"Харпер","typeOfDress":["lush","sleeves","train"]}
      },{
        imagePath: './catalog/dresses/0006',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG',],
        additionalInfo: {"price":"24000","size":"40-44","additional":"Нежное и легкое свадебное платье","dressName":"Камилла"}
      },{
        imagePath: './catalog/dresses/0007',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG','5.JPG','6.JPG',],
        additionalInfo: {"price":"29000","size":"40-44","additional":"Пышное платье с рукавами","dressName":"Джианна"}
      },{
        imagePath: './catalog/dresses/0008',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG',],
        additionalInfo: {"price":"29000","size":"42-44-46","additional":"Очень пышное свадебное платье с плечиками","dressName":"Эбигейл"}
      },{
        imagePath: './catalog/dresses/0010',
        imageNames:['IMG_1211.JPG','IMG_1212.JPG','IMG_1213.JPG','IMG_1214.JPG',],
        additionalInfo: {"price":"25000","size":"40-42-44","additional":"Пышное свадебное платье с кружевным корсетом и юбкой","dressName":"Луна"}
      },{
        imagePath: './catalog/dresses/0011',
        imageNames:['IMG_1215.JPG','IMG_1216.JPG','IMG_1217.JPG',],
        additionalInfo: {"price":"24000","size":"42-44","additional":"Яркое блестящее свадебное платье","dressName":"Элла"}
      },{
        imagePath: './catalog/dresses/0012',
        imageNames:['IMG_1218.JPG','IMG_1219.JPG','IMG_1220.JPG','IMG_1221.JPG','IMG_1222.JPG',],
        additionalInfo: {"price":"27000","size":"42-44","additional":"Легкое платье А-силуэта с рукавами и ручной расшивкой","dressName":"Элизабет"}
      },{
        imagePath: './catalog/dresses/0013',
        imageNames:['IMG_1223.JPG','IMG_1224.JPG','IMG_1225.JPG','IMG_1226.JPG','IMG_1227.JPG',],
        additionalInfo: {"price":"26000","size":"42-46","additional":"Блестящее свадебное платье А-силуэта","dressName":"София"}
      },{
        imagePath: './catalog/dresses/0014',
        imageNames:['IMG_1228.JPG','IMG_1229.JPG','IMG_1230.JPG',],
        additionalInfo: {"price":"25000","size":"42-46","additional":"Кружевное прямое свадебное платье","dressName":"Эмили"}
      },{
        imagePath: './catalog/dresses/0015',
        imageNames:['IMG_1231.JPG','IMG_1232.JPG','IMG_1233.JPG','IMG_1234.JPG',],
        additionalInfo: {"price":"27000","size":"40-44","additional":"Пышное мягкое свадебное платье","dressName":"Эйвери"}
      },{
        imagePath: './catalog/dresses/0016',
        imageNames:['IMG_1235.JPG','IMG_1236.JPG','IMG_1237.JPG','IMG_1238.JPG','IMG_1239.JPG',],
        additionalInfo: {"price":"22000","size":"42-46","additional":"Легкое свадебное платье с рукавами","dressName":"Оливия"}
      },{
        imagePath: './catalog/dresses/0017',
        imageNames:['IMG_1240.JPG','IMG_1241.JPG','IMG_1242.JPG',],
        additionalInfo: {"price":"25000","size":"42-46","additional":"Сверкающее свадебное платье с плечиками","dressName":"Эмма"}
      },{
        imagePath: './catalog/dresses/0018',
        imageNames:['IMG_1243.JPG','IMG_1244.JPG','IMG_1245.JPG',],
        additionalInfo: {"price":"22000","size":"44-48","additional":"Пышное свадебное платье с вырезом","dressName":"Шарлотта"}
      },{
        imagePath: './catalog/dresses/0019',
        imageNames:['IMG_1246.JPG','IMG_1247.JPG','IMG_1248.JPG','IMG_1249.JPG',],
        additionalInfo: {"price":"18000","size":"40-44","additional":"Платье а силуэта с кружевным корсетом","dressName":"София"}
      },]