- 
  var dressesList = [{
        imagePath: './catalog/dresses/0001',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0002',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0003',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0004',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0005',
        imageNames:['1.JPG','2.JPG','3.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0006',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0007',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG','5.JPG','6.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0008',
        imageNames:['1.JPG','2.JPG','3.JPG','4.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0010',
        imageNames:['IMG_1211.JPG','IMG_1212.JPG','IMG_1213.JPG','IMG_1214.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0011',
        imageNames:['IMG_1215.JPG','IMG_1216.JPG','IMG_1217.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0012',
        imageNames:['IMG_1218.JPG','IMG_1219.JPG','IMG_1220.JPG','IMG_1221.JPG','IMG_1222.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0013',
        imageNames:['IMG_1223.JPG','IMG_1224.JPG','IMG_1225.JPG','IMG_1226.JPG','IMG_1227.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0014',
        imageNames:['IMG_1228.JPG','IMG_1229.JPG','IMG_1230.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0015',
        imageNames:['IMG_1231.JPG','IMG_1232.JPG','IMG_1233.JPG','IMG_1234.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0016',
        imageNames:['IMG_1235.JPG','IMG_1236.JPG','IMG_1237.JPG','IMG_1238.JPG','IMG_1239.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0017',
        imageNames:['IMG_1240.JPG','IMG_1241.JPG','IMG_1242.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0018',
        imageNames:['IMG_1243.JPG','IMG_1244.JPG','IMG_1245.JPG',],
        additionalInfo: [object Promise]
      },{
        imagePath: './catalog/dresses/0019',
        imageNames:['IMG_1246.JPG','IMG_1247.JPG','IMG_1248.JPG','IMG_1249.JPG',],
        additionalInfo: [object Promise]
      },]