//- page.pug
extends ../layout.pug
include ./catalog-includes.pug

include ../../assets/articles/sleeves-dresses-article/sleeves-dresses-article

append variables
  -
    breadcumbList[breadcumbList.length] = {
      name : 'Свадебные платья с рукавами',
      href : `./sleeves-dresses.html`
    }
    var PageHead = {
      title : 'Купить свадебное платье с рукавами',
      keywords : 'каталог свадебных платьев со рукавами, цены на свадебные платья с рукавами',
      description : 'Каталог свадебных платьев с рукавами Все Невестам',
    }
  include ./dresses-list
    //если убрать эту пустую строку то нихера не работает получение переменных из dresses-list

append content
  - 
    var drs = dressesList
    var deleteIndexes = []
  each dress,index in dressesList
    - 
      if ( drs[index].additionalInfo.typeOfDress.includes('sleeves') ) {
        drs[index].imageName = drs[index].imageNames[0]
        drs[index].underText = [drs[index].additionalInfo.price]
        drs[index].titleUnder = drs[index].additionalInfo.dressName
      } else {
        deleteIndexes.push(index);
      }
  - deleteIndexes.reverse()
  each index in deleteIndexes
    - drs.splice(index,1)
  +dress-cards-list(drs,true)
  +sleeves-dresses-article