//- page.pug
extends ../layout.pug
include ./catalog-includes.pug

include ../../assets/articles/train-dresses-article/train-dresses-article

append variables
  -
    var thisPageAddress = 'train-dresses.html'
    breadcumbList[breadcumbList.length] = {
        name : 'Каталог свадебных платьев',
        href : `./all-dresses.html`
      }
    breadcumbList[breadcumbList.length] = {
      name : 'Свадебные платья со шлейфом',
      href : `./${thisPageAddress}`
    }
    var PageHead = {
      title : 'Купить свадебное платье со шлейфом',
      keywords : 'каталог свадебных платьев со шлейфом, цены на свадебные платья со шлейфом',
      description : 'Каталог свадебных платьев со шлейфом Все Невестам',
      canonical : `${globalHead.canonical}/${thisPageAddress}`,
    }
  include ./dresses-list
    //если убрать эту пустую строку то нихера не работает получение переменных из dresses-list

append content
  - 
    var drs = dressesList
    var deleteIndexes = []
  each dress,index in dressesList
    - 
      if ( drs[index].additionalInfo.typeOfDress.includes('train') ) {
        drs[index].imageName = drs[index].imageNames[0]
        drs[index].underText = [drs[index].additionalInfo.price]
        drs[index].titleUnder = drs[index].additionalInfo.dressName
      } else {
        deleteIndexes.push(index);
      }
  - deleteIndexes.reverse()
  each index in deleteIndexes
    - drs.splice(index,1)
  +dress-cards-list(drs,true)
  +train-dresses-article