//- page.pug
extends ../layout.pug
include ../../assets/blocks/dress-card/dress-card
include ../../assets/blocks/dress-cards-list/dress-cards-list

include ../../assets/articles/main-page-article/main-page-article

append variables
  -
    var indexPageHead = {
      title : 'Свадебный салон Всё Невестам - свадебные платья в Москве',
      keywords : 'свадебный салон в москве, магазин свадебных платьев',
      description : 'Свадебный салон низких цен у м. Аэропорт +7-985-635-5151 Всё Невестам - Свадебные платья любых размеров недорого.',
    }
    var dressesList = [
      {imagePath: './images/IMG_0944.JPG', href: '/images/IMG_0944.JPG'},
      {imagePath: './images/IMG_0963.JPG', titleInMiddle: 'Lorem ipsum dsadklj;lsafjadks '},
      {imagePath: './images/IMG_0947.JPG', titleUnder: 'It\'s under', underText: ['Wedding dress Maria', '40 000р']},
      {imagePath: './images/IMG_0949.JPG', href: '/images/IMG_0944.JPG'},
    ]
    
    

append content
  .container
    +main-page-article

    //- +dress-cards-list(dressesList)