//- page.pug
extends ../layout.pug
include ../../assets/blocks/dress-card/dress-card
include ../../assets/blocks/dress-cards-list/dress-cards-list

include ../../assets/articles/main-page-article/main-page-article

append variables
  -
    var PageHead = {
      title : 'Свадебный салон Всё Невестам - свадебные платья в Москве',
      keywords : 'свадебный салон в москве, магазин свадебных платьев',
      description : 'Свадебный салон низких цен у м. Аэропорт +7-985-635-5151 Всё Невестам - Свадебные платья любых размеров недорого.',
    }
    
    

append content
  .container
    +main-page-article