$toBigForOnePic : $laptop-min
  
@import ./__img/dress-card__img
@import ./__dress-sign/dress-card__dress-sign

.dress-card
  width: 100%
  position: relative
  height: 100%

@media screen and (min-width: $toBigForOnePic)
  .dress-card
    display: flex
    flex-direction: column
    max-width: 425px