mixin top-menu()
  div 
    p.top-menu
      a.top-menu-item.top-menu-item--grey-background-hover(href="./all-dresses.html") Свадебные платья
      a.top-menu-item.top-menu-item--grey-background-hover(href="./contacts.html") Контакты