mixin main-page-article
  h1.articles__title Свадебный салон Все Невестам в Москве
  p Наиболее актуальная информация в нашем профиле <a class='articles__text-link' href='https://www.instagram.com/vse_nevestam/'>INSTAGRAM</a>
  picture.articles__image
      source(media='(max-width: 321px)' srcset=`/images/index-article/onmain_small.jpg`)
      source(media='(max-width: 376px)' srcset=`/images/index-article/onmain_medium.jpg`)
      img.articles__image(src=`/images/index-article/onmain.jpg`)
  article.articles
    h2 Приветствуем вас на сайте свадебного магазина 'Всё Невестам'.
    section Вы в поисках подвенечного наряда? В нашем салоне модели всех покроев:
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./lush-dresses.html') Пышные свадебные платья
        li
          //- a(href='./svadebnye-platia-amina-632')
          img.articles__image.articles-grid__image(src='/images/index-article/ball-dress1.jpg' alt='Пышное свадебное платье Всё Невестам' title='Пышное свадебное платье')
        li
          //- a(href='./svadebnye-platia-amina-632')
          img.articles__image.articles-grid__image(src='/images/index-article/ball-dress2.jpg' alt='Пышное свадебное платье Всё Невестам' title='Пышное свадебное платье')
        li
          //- a(href='./svadebnye-platia-lora-40')
          img.articles__image.articles-grid__image(src='/images/index-article/ball-dress3.jpg' alt='Пышное свадебное платье Всё Невестам' title='Пышное свадебное платье')
      p С детства, мечтая быть принцессой, девушки часто воплощают свою отдавая свое предпочтение пышным формам 
        |Они имеют классический покрой: облегающий лиф или корсет, переходящий в роскошную широкую юбку, длина которой 
        |может быть до пола или, наоборот, не доходить до колена. Пышный свадебный наряд всегда актуален: он подойдет 
        |для скромной свадьбы среди близких людей и станет уместным одеянием для масштабного торжества с участием 
        |нескольких сотен гостей!
    section
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./greece-dresses.html') Греческие свадебные платья
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/ball-dress1.jpg' alt='Греческое свадебное платье Всё Невестам' title='Свадебное платье Ампир')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/ball-dress2.jpg' alt='Греческое свадебное платье Всё Невестам' title='Свадебное платье Ампир')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/ball-dress3.jpg' alt='Греческое свадебное платье Всё Невестам' title='Свадебное платье Ампир')
      P Классическая красота туник вдохновила не одно поколение дизайнеров на создание утонченных и женственных 
        |свадебных одеяний в соответствующем стиле. Они идеально подойдут для летней церемонии; эклектичность и гармоничность
        |– их отличительные черты. Чаще модели держатся на тонких бретелях или лямке, которая обхватывает шею. Любое 
        |воплощение греческого платья сделает Вас не принцессой, а Афродитой – богиней Любви! Элегантный ампирный 
        |наряд сродни греческому, ведь для высокого классицизма времен Наполеона характерно подражание античности и 
        |эллинской эпохе. Отличительными чертами одеяния являются рукава-фонарики, завышенная талия, лента, которая находится 
        |под грудью, подчеркивая ее.
    section 
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./straight-dresses.html') Свадебные платья прямого кроя (А-силуэт)
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/straight-index-1.jpg' alt='Свадебное платье Ампир Всё Невестам' title='Прямое свадебное платье')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/straight-index-2.jpg' alt='Свадебное платье Ампир Всё Невестам' title='Прямое свадебное платье')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/straight-index-3.jpg' alt='Свадебное платье Ампир Всё Невестам' title='Прямое свадебное платье')
      p Прямой покрой является одним из фаворитов среди будующих жен. Такой фасон способен подчеркнуть достоинства фигуры, 
        |сделать образ новобрачной одновременно сексуальной, очаровательной, нежной и роскошной. Такие модели визуально 
        |удлиняют фигуру, поэтому подойдут девушкам небольшого роста. Однако он капризный: акцентирует внимание на 
        |любом несовершенстве фигуры. Поэтому, если вам не нравится небольшой животик или ваши пышные формы, лучше отказаться 
        |от такой модели. Идеально покрой сидит на миниатюрных девушках.
      p Наряда с облегающим лифом и подолом, равномерно расширяющимся книзу, придает особый шарм 
        |своей обладательнице. Он подчеркивает женственность. Подходит абсолютно всем дамам. Универсальный 
        |А-силуэт скрывает несовершенства фигуры, обеспечивает полную свободу движений в отличие от прямого 
        |покроя.
    section 
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./mermaid-dresses.html') Свадебные платья русалка
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/mermaid-index-1.jpg' alt='Свадебное платье рыбка Всё Невестам' title='Свадебное платье русалка')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/mermaid-index-2.jpg' alt='Свадебное платье русалка Всё Невестам' title='Свадебное платье рыбка')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/mermaid-index-3.jpg' alt='Узкое свадебное платье Всё Невестам' title='Узкое обтягивающее вадебное платье')
      p Облегающее платье подойдет тем, кто хочет акцентировать внимание на достоинствах фигуры. Модель 
        |«Рыбка» или «Русалка», как еще его называют, облегает тело, а заканчивается расклешенным подолом 
        |внизу. Оригинальный крой визуально создает фигуру «песочные часы», подчеркивает ее совершенство.
    section 
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./sleeves-dresses.html') Платья с рукавами
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/sleeves-index-1.jpg' alt='Свадебное платье с рукавами Всё Невестам' title='Свадебное платье с длинными рукавами')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/sleeves-index-2.jpg' alt='Свадебное платье с короткими рукавами Всё Невестам' title='Свадебное платье с короткими рукавами')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/sleeves-index-3.jpg' alt='Свадебное платье с длинными рукавами Всё Невестам' title='Свадебные платья с рукавами')
      p Выберете вы силуэт с рукавами или без них – зависит только от вас. Конечно, следует ориентироваться 
        |также на сезон. Если свадьба состоится зимой, лучше отдать предпочтение длинным рукавам. С ними платье 
        |смотрится более строго и грациозно. Рукава ¾ придает образу легкий налет игривости. Рукава-фонарики 
        |привнесут в образ особую изюминку и искру! Если торжество запланировано на жаркое время года, можно отдать 
        |предпочтение изящным бретелям или открытым плечам.
    section 
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./lace-dresses.html') Кружевные свадебные платья
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/lace-index-1.jpg' alt='Свадебное платье с кружевом Всё Невестам' title='Свадебное платье с кружевными рукавами')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/lace-index-2.jpg' alt='Кружевное свадебное платье Всё Невестам' title='Свадебное платье с кружевом')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/lace-index-3.jpg' alt='Кружевные свадебные платья' title='Кружевное свадебное платье')
      p Кружево – признак роскоши. Свадебное кружевное одеяние выглядит женственно и невинно. Кружево может 
        |подчеркивать грудь невесты или прикрывать плечи. Любая вариация такого платья выглядит очень празднично, 
        |идеально подходит для торжества.
    section 
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./train-dresses.html') Платья со шлейфом
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/tail-index-1.jpg' alt='Свадебное платье с шлейфом Всё Невестам' title='Свадебное платье с кружевным шлейфом')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/tail-index-2.jpg' alt='Свадебные платья со шлейфом Всё Невестам' title='Свадебное платье со шлейфом')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/tail-index-3.jpg' alt='Свадебные платья со шлейфом Всё Невестам' title='Кружевное свадебное платье со шлефом')
      p Подобно королеве, невеста в наряде со шлейфом идет в новую жизнь. Королевскую утонченность, грациозность 
        |и изящество воплощает девушка в таком одеянии. Шлейф, вошедший в подвенечную моду еще в XIX веке, по 
        |сей день остается роскошным дополнением к идеальному наряду.
    section 
      ul.articles-grid
        li.articles-grid__title
          h3.articles__title.articles__title--font-oswald
            a(href='./materity-dresses.html') Платья для беременной невесты
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/preg-index1.jpg' alt='Свадебное платье со шлейфом для беременной Всё Невестам' title='Свадебное платье беременным')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/preg-index2.jpg' alt='Свадебные платья для беременной невесты Всё Невестам' title='Свадебное платье беременной невесты')
        li
          //- a(href='./svadebnye-platia')
          img.articles__image.articles-grid__image(src='/images/index-article/preg-index3.jpg' alt='Свадебные платья для беременных Всё Невестам' title='Кружевное свадебное платье для беременных')
      p Если к замужеству готовится девушка в положении, то ей следует обратить внимание на платья не с 
        |утягивающим корсетом, а, например, корсетным лифом. Такая форма не стеснит движений, а невеста будет 
        |себя удобно в нем чувствовать. Кроме того, следует отказаться от украшений в области талии, а 
        |сакцентировать внимание на подоле платья. Поверьте, вы будете прекрасны, ведь сама беременность украшает 
        |женщину!
    section
      h3 Что предалгает свадебный магазин Всё Невестам?
      p Мы ведем честную политику ценообразования и примерки бесплатны.<br>
        |Перед примеркой сообщите консультанту какие фасоны Вас интересуют - для начала он на словах поможет Вам определиться 
        |с деталями Вашего будующего наряда. У нас очень большой выбор и Вы можете запутаться в многообразии, поэтому доверьтесь 
        |нашему консультанту - она подберет наряд основываясь 
        |на Ваших предпочтениях. Просто сообщите фасоны, цвета, дополнительные пожелания и бюджет. Наш консультант всегда будет 
        |рад помочь<br>Наш товар - вещь специфическая, 
        |каждой девушке по вкусу свой фасон и цвет. Мы же в свою очередь попытались собрать все варианты, чтобы предложить своим 
        |клиентам все в одном месте. Если Вы приезжаете к 
        |нам именно с целью покупки, мы сделаем все возможное, чтобы Вы уехали от нас не только с покупкой, но и с хорошим настроением 
        |и чувством выполненного долга. <br>Ждем Вас с нетерпением в Москве в месте свадебной моды - ул. Острякова 3 (м. Аэропорт)!