mixin mermaid-dresses-article
  h2.articles__title-one Современный образ с историческим шлейфом
  artcile.articles__text
    section
      p Стиль Годе больше известный современным названием «русалка» или «рыбка» популярен на протяжении почти 100 лет. В энциклопедии моды значится, что изначально такой фасон дамы предпочитали носить, как домашний наряд, и он был неподходящим для выхода в свет. Где-то во времена 30-х прошлого столетия, этот жанр в своих моделях возродила дизайнер Мадлен Вионне, а прославил фотограф модного журнала «Vogue». После фееричного пиара знаменитым журналом, платье появилось в гардеробах Голливудских красавиц и по сей день, знаменитости красуются с оригинальными «хвостиками».
      p Своеобразный фасон – узкое свадебное платье
      p Основной контур облегает фигуру от груди до колен, а к нему уже прилагаются разнообразные варианты декорирования и кроя:
      ul
        li Полностью открытые плечи или с узкими рукавами;
        li Корсетный лиф с бретелями и без;
        li Длинные модели со шлейфом и даже короткие;
        li Цельный покрой или съемная юбка;
      p Кроме того, струящийся низ свадебной русалки украшают рюшами, воланами, кружевом. В нашем салоне вы можете купить свадебное платье «рыбка» в индивидуальном исполнении, однако надо помнить, что русалка подходит не всем.
    section
      h3 В центре внимания – фигура
      p Полным девушкам лучше избегать подобного образа, он больше подходит для стройных невест с идеальными формами. Облегающая грация, никак не скроит недостатки, на виду будет каждая черточка. Низеньким, миниатюрным девушкам можно примерять русалку с высокими каблуками, тогда вид будет смотреться безупречно. Покрой с вырезом на спине также подойдет не всем.
    section
      h3 Соответствующие свадебные аксессуары
      p Для холодного времени года стоит подобрать пушистое болеро. Когда-то, в тех же 30-х платье рыбку так и носили.
      p Украшение на голову не должно быть громоздким, лучше отдать предпочтение небольшой тиаре или диадеме.
      p Наборы аксессуаров выбирать не массивные, а изящные: колье, удлиненные серьги и если браслет, то тоже аккуратный.
      p Длина фаты может быть разной, в идеале подбирать под конкретный пример.
      p Модные наряды и тематические атрибуты вы найдете в салоне «Всё невестам». Вы будете в восторге от наших предложений – обращайтесь, мы вас ждем.