mixin svadebnoye-platie-bu
  h1.articles__title Свадебные платья бу (бывшие в употреблении)
  article.articles__text
    section
      img.articles__image(src='/images/articles/svadebnoye-platie-bu/1.png')
      p Боже мой, он наконец-то сделал мне предложение! Я – уже не просто «его девушка», а невеста. Сумасшедшее счастье, затаённая зависть в глазах подруг, наслаждение новым статусом… И, конечно же, приятные предсвадебные хлопоты. Где, с кем, когда, в каком стиле будет торжество – от этих вопросов кружится голова. И самый главный, просто-таки сакраментальный вопрос – какое одеяние покупать под венец?
      p Увы, на этом этапе подготовки к торжеству любящие родственники выстроили настоящие баррикады из жмотства, практичности и скупердяйства. Тон задала будущая свекровь: мол, зачем тратить такие огромадные деньжищи на новое одеяние? Ведь на эти деньги можно купить холодильник в семейное гнёздышко. Он ведь лучше, чем одеяние? Тем более что можно выбрать что-нибудь симпатичное, но бывшее в употреблении. Купить на Авито, выбрать в отделе чужих ношенных одежд в салоне… Серьёзная экономия!
    section 
      img.articles__image(src='/images/articles/svadebnoye-platie-bu/2.png')
      p И как-то сразу сделалось грустно. Какой же будет брак, если на старте БУшка поперла?
      p Мама тоже подлила в огонь жару. Проглядев каталоги свадебных платьев, посмотрев на наряды, она переметнулась в лагерь будущей свекрови. Мол, свадебные платья сейчас так дорого стоят, что не только холодильник, весь набор бытовой техники купить можно! «Но, может, выбрать подешевле?» – робко спросила я. И получила убийственный аргумент: «Так ведь не новое дешёвого фасона будет стоить ЕЩЁ ДЕШЕВЛЕ!».
      p А тут ещё под боком заклятая подружка, вышедшая замуж полгода назад. Помню, на её убранстве, прямо на подоле, желтело недовыведенное пятно: видно, не удалось в химчистке вывести последствия пролитого вина. А может, рухнувшего с подноса канапе. А то и вовсе жирной куриной ножки. Подруженция, конечно, бурно поддержала маму и свекровь: конечно, бери б/ушное! Я же надевала, и ничего! Такие сногсшибательные фото! Даже предложила продать своё. Совсем недорого. И только бабушка, покачав головой, строго сказала: «Никаких чужих тряпок. Никаких чужих судеб».
    section 
      img.articles__image(src='/images/articles/svadebnoye-platie-bu/3.png')
      p Моя бабушка – мудрая женщина. И я ей верю. Даже самое роскошное убранство, которое уже кто-то когда-то надевал на свадьбу, нельзя надевать невесте. Нельзя брать напрокат, нельзя покупать чужое. И не только потому, что там может оказаться пятно, потянутая строчка, оторванная жемчужинка, чуть-чуть испорченное кружево. Этих дефектов гости могут и не заметить. Просто примета плохая – надевать чужое платье на свою свадьбу.
      p Чужой свадебный наряд – это отрицательная энергетика, в которой сконцентрировались все недостатки чужого брака. Откуда ты знаешь, покупая распрекрасный б/ушный наряд, что его прошлая владелица не развелась со своим мужем? Что её супруг не пьёт, не гуляет, не обижает? А может, бывшая владелица этого наряда вообще замужем за импотентом! Вот страх-то!
    section 
      img.articles__image(src='/images/articles/svadebnoye-platie-bu/4.png')
      p Поглядела я на подругу… Вроде и неплохой у неё муж, но я бы за такого не вышла. Не по мне его привычки, не по мне его характер. У моего любимого тоже есть недостатки, но они свои, родные. Чужих не нужно.
      p Кстати, мой жених согласился, что наряд должен быть новым. «На холодильник, стиральную машинку и посудомойку я заработаю, – говорит. – Покупай себе новое свадебное платье!».
      p Какой же он у меня хороший… Ну зачем мне чужая судьба, если впереди – своё счастье?
