mixin showMainMenu
    ul.main-menu.main-menu--hidden
      li
        .main-menu__burger &#9776; &#10006;
      li.main-menu__element Пышные
      li.main-menu__element Греческие
      li.main-menu__element Кружевные