mixin showMainMenu(menuItems)
    .main-menu.main-menu--hidden
      .main-menu__burger &#9776;
      ul.main-menu__parent-element
        each menuItem in menuItems
          li.main-menu__element 
            a.main-menu__element--grey-background-hover(href=menuItem.href)= menuItem.name
