$menu-show-always : $laptop-min
    
@import ./_hidden/main-menu_hidden
@import ./__parent-element/main-menu__parent-element
@import ./__element/main-menu__element
@import ./__burger/main-menu__burger

.main-menu
    width: 100%
    z-index: 100
    position: relative
    background-color: inherit


@media screen and (min-width: $menu-show-always)
    .main-menu
        flex-direction: row
        flex-wrap: wrap