mixin top-sign(mainInfo)
  .top-sign
    div.top-sign__logo-container
      a(href="/")
        img.top-sign__logo-image(src=mainInfo.logo)
    div
      span!= mainInfo.topText
    div.top-sign__paragraph-margin
      img.top-sign__messengers(src='./images/everypage/phone.png')
      img.top-sign__messengers(src='./images/everypage/viber.png')
      img.top-sign__messengers(src='./images/everypage/whatsapp.png')
      span= mainInfo.phoneAndMessengers

    div 
      p.top-sign__paragraph-margin Ежедневно с 10:00 до 20:00
      nav.top-sign__menu.top-sign__paragraph-margin
        a.top-sign__menu-item.top-sign__menu-item--grey-background-hover(href="./all-dresses.html") Свадебные платья
        a.top-sign__menu-item.top-sign__menu-item--grey-background-hover(href="./contacts.html") Контакты
