$menu-show-always : $laptop-min

@import ./__logo/top-sign__logo

.top-sign__messengers
  width: 100%
  height: auto
  max-width: 1.1em
  display: inline-block
  vertical-align: text-top

.top-sign__bottom-paragraph
  margin: .3em 1em
  padding: 0

.top-sign__menu
  display: flex
  justify-content: space-between
  text-transform: uppercase

.top-sign
  font-size: 1rem
  letter-spacing: -0.01em
  width: 100%
  text-align: center
  display: flex
  flex-direction: column
  flex-wrap: wrap
  

@media screen and (min-width: $menu-show-always)
  .top-sign
    font-size: 1.5rem