mixin top-sign(mainInfo)
  .top-sign
    div.top-sign__logo-container
      a(href="/")
        img.top-sign__logo-image(src=mainInfo.logo)
    div
      span!= mainInfo.topText
    div.top-sign__paragraph-margin
      img.top-sign__messengers(src='/images/everypage/phone.png')
      img.top-sign__messengers(src='/images/everypage/viber.png')
      img.top-sign__messengers(src='/images/everypage/whatsapp.png')
      a(href=`tel:+${mainInfo.phoneAndMessengers}`)= mainInfo.phoneAndMessengers
    p.top-sign__paragraph-margin Ежедневно с 10:00 до 20:00
