mixin top-sign(mainInfo)
  .top-sign
    div
      span!= mainInfo.topText
    div
      img.top-sign__messengers(src='./images/everypage/phone.png')
      img.top-sign__messengers(src='./images/everypage/viber.png')
      img.top-sign__messengers(src='./images/everypage/whatsapp.png')
      span= mainInfo.phoneAndMessengers
    img.top-sign__logo(src=mainInfo.logo)
    div 
      p.top-sign__bottom-paragraph Ежедневно с 10:00 до 20:00
      p.top-sign__menu.top-sign__bottom-paragraph
        a(href="") Свадебные платья
        a(href="") Контакты