$menu-show-always : $laptop-min

@import ./__logo-image/top-sign__logo-image
@import ./__logo-container/top-sign__logo-container
@import ./__messengers/top-sign__messengers
@import ./__paragraph-margin/top-sign__paragraph-margin

.top-sign
  font-size: 1rem
  letter-spacing: -0.01em
  width: 100%
  text-align: center
  display: flex
  flex-direction: column
  // flex-wrap: wrap
  

@media screen and (min-width: $menu-show-always)
  .top-sign
    font-size: 1.5rem