mixin dress-cards-list(dressList,bottom,top,left,right)
  - 
    var dressCardListClass = 'dress-cards-list__card-container '
    if ( bottom ) dressCardListClass += 'dress-cards-list--margin-bottom '
    if ( top ) dressCardListClass += 'dress-cards-list--margin-top '
    if ( left ) dressCardListClass += 'dress-cards-list--margin-left '
    if ( right ) dressCardListClass += 'dress-cards-list--margin-right '

  .dress-cards-list
    each dress,index in dressList
      div(class = dressCardListClass)
        +dressCard(dress)