$toBigForOnePic : $laptop-min

.dress-cards-list--margin-bottom
  margin-bottom: .5em

.dress-cards-list--margin-top
  margin-top: .5em
  
.dress-cards-list--margin-left
  margin-left: .5em
  
.dress-cards-list--margin-right
  margin-right: .5em

.dress-cards-list__card-container
  flex: 1 1 auto

@media screen and (min-width: $toBigForOnePic)
  .dress-cards-list__card-container
    flex: 1 1 400px
  
.dress-cards-list
  display: flex
  flex-wrap: wrap

@media screen and (min-width: $toBigForOnePic)
  .dress-cards-list
    column-gap: .5em