$toBigForOnePic : $laptop-min

@import ./_margin-bottom/dress-cards-list_margin-bottom
@import ./_margin-left/dress-cards-list_margin-left
@import ./_margin-right/dress-cards-list_margin-right
@import ./_margin-top/dress-cards-list_margin-top
@import ./_margin-top/dress-cards-list_margin-top
@import ./__card-container/dress-cards-list__card-container

.dress-cards-list
  display: flex
  flex-wrap: wrap

@media screen and (min-width: $toBigForOnePic)
  .dress-cards-list
    column-gap: .5em