mixin signup
  a(href='')
  div.signup.signup--text-centered
    #signup-ball.signup__ball.signup__ball--circle.signup__ball--background-cyan.signup__ball--transparent
    p.signup__sign.signup__sign--transparent Записаться