$smallerBall : $laptop-min
  
@import ./__sign/signup__sign

.signup__ball--transparent
  opacity: .7
  
.signup__ball--background-cyan
  background: cyan

.signup__ball--circle
  border-radius: 50%

.signup__ball
  z-index: -1
  position: absolute
  width: 100%
  cursor: pointer
  visibility: hidden
  transition: all .2s ease-out
  -webkit-transform: hidden

.signup--text-centered
  vertical-align: middle
  text-align: center

.signup
  width: fit-content
  position: -webkit-sticky
  position: sticky
  bottom: 10vh
  left: 1em
  