@import ./__sign/signup__sign
@import ./_circle/signup_circle
@import ./_background-cyan/signup_background-cyan

.signup
  width: 4rem
  height: 4rem
  line-height: 4rem
  vertical-align: middle
  text-align: center
  