mixin mesta-provedenija-medovogo-mesaca-pt3
  h1.articles__title-one Экзотические места отдыха после свадьбы (Марокко, Австралия, Исландия, Италия)
  artcile.articles__text
    section
      h4 Марракеш, Марокко
      img(src='1.png')
      p Смелые пары! Бросайте кружевные пышные платья и строгие костюмы дома – берите с собой короткое платье и шорты с майкой. Рассмотрите вариант отдыха в африканском городе на северо-западе у подножия зрелищных и впечатляющих гор Атлас, их звуки и ароматы. К тому же там получятся очень захватывающие и красивые фото. А отдых в роскошном Восточном Марракеше даст вам возможность сходить в поход на муле в одну из самых высоких Берберских деревень или пересечь пустыню на верблюдах. Вы сможете получить, пожалуй, самый уникальный опыт - изучит древнее искусство соколиной охоты. Оно Вам, конечно, не понадобится дома, но зато дома будет о чем рассказать!
    section
      h4 Хайман-Айленд, Австралия
      img(src='2.png')
      p Сухопутным жителям не стоит тратить время на медовый месяц на острове Хейман, одном из островов Святой Троицы в районе большого барьерного рифа Австралии. Кроме того, нужно обязательно приобрести прогулку на вертолете, чтобы самим увидеть сердце Рифа по пути на один из островов, все остальное можно увидеть на уровне моря. Что Вам нравится больше - погружение в воду (плавание с маской, дайвинг) или на поверхности (падлборды, парусный спорт, морской каякинг)? Вы никогда не будете уставать от чистейшей воды, настолько чисто, что сложно себе представить. И когда Вы устанете от всех активности, закажите массаж на плоту в Коралловом море.
    section
      h4 Селфосс, Исландия
      img(src='3.png')
      p В каком еще, кроме Исландии, месте Вы сможете совершить подводное погружение между двумя тектоническими плитами? Однако, это далеко не единственный необычный вид отдыха, которым можно заманить в эту скандинавскую страну огня и льда. Пойдите в поход через поля лавы, пещеры и пустыни черного пепла, посетите горячие источники. Можно прокатиться на снегоходе по ледяным пещерам или отправиться в поход на ледник.
    section
      h4 Тоскана, Италия
      img(src='4.png')
      p Бытует мнение, что в Тоскане вы не найдете ничего, кроме красивых пейзажей, вина и аппетитной еды. В реальности существует гораздо больше разновидностей отдыха. Однако необходимо иметь в виду, что удовольствие это не дешевое. Отдохнуть в Италии не получится дешево. Например погонять на красном Феррари по треку или устроить себе прогулку на велосипедах и конную прогулку – удовольствие не из дешевых.
